/app/config/development
/app/config/database.php
/app/storage/*/*
!/app/storage/*/index.html
/data/archive/*
/data/customer_files/*
/data/images/*
/data/import/*
/data/temp/*
/docs
/node_modules
/themes/core/fonts/fontawesome
/themes/core/js/*.min.js
/themes/core/js/*.min.js.map
/themes/InvoicePlane/css/*.min.css
/themes/InvoicePlane/css/*.min.css.map
/themes/vendor
/vendor
