//=========================================================
// Additional icon and text styles
//=========================================================

.amount {
  text-align: right;
}

.fa-fw {
  width: 1rem;
  text-align: center;
}

.fa-margin-right {
  margin-right: .5rem;
}

.fa-margin-left {
  margin-left: .5rem;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}
