/*
|   =========================================================
|   InvoicePlane Core Stylesheet
|   =========================================================
*/

// Import Bootstrap
@import "dependencies/bootstrap";
// Import fonts
@import "fonts/font-awesome";
// Load modules
@import "modules/upload";
@import "../../vendor/select2/src/scss/core";

/*
|   =========================================================
|   Base layout
|   =========================================================
*/

#app {
  width: 100%;

  @media screen and (min-width: $screen-lg) {
    display: table;
  }
}

#sidebar {
  width: 320px;
  position: fixed;
  top: 0;
  bottom: 0;
  background: $sidebar-background;
  color: $sidebar-text;
  left: -320px;
  z-index: $zindex-navbar;
  overflow: auto;
  @include transition-std(left);

  &.show-sidebar {
    left: 0;
    @include transition-std(left);
  }

  @media screen and (min-width: $screen-lg) {
    width: 30%;
    display: table-cell;
    vertical-align: top;
    left: 0;
  }

  @media screen and (min-width: $screen-xl) {
    width: 20%;
  }

  a {
    color: lighten($sidebar-text, 10%);
    @include hover-focus-active {
      color: lighten($sidebar-text, 20%);
    }
  }

  .sidebar-top {
    padding: ($spacer * 0.75) $spacer;
    border-bottom: 1px solid lighten($sidebar-background, 5%);
  }
}

#main {
  width: 100%;

  @media screen and (min-width: $screen-lg) {
    display: table-cell;
    vertical-align: top;
    width: 70%;
  }
  @media screen and (min-width: $screen-xl) {
    width: 80%;
  }
}

#content {
  padding: $spacer;
}

#headerbar {
  padding: ($spacer * 0.75) $spacer;
  border-bottom: 1px solid $gray-lighter;
  height: (($spacer * 0.75) * 2) + ($font-size-base * $line-height);
  @include clearfix;

  h1 {
    font-size: $font-size-base;
    font-weight: bold;
    display: inline-block;
    margin: 0;
  }

  .btn-group {
    margin: -($btn-padding-y-sm) 0 0 $spacer;
  }
}

.sidebar-toggle-wrapper {
  padding: ($spacer * 0.75) $spacer;
  width: 100%;
  border-bottom: 1px solid $gray-lighter;
}

.sidebar-toggle {
  cursor: pointer;
}

.login-logo {
  padding: ($spacer * 2) 0;

  img {
    max-width: 100%;
  }
}

.card-header {
  font-weight: bold;
}

#loader {
  display: none;
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .loader-indicator {
    position: fixed;
    top: $spacer;
    right: $spacer;
    font-size: 3rem;
  }

  .loader-content {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1.5rem;
    opacity: 0.85;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);

    .loader-message {
      position: absolute;
      width: 100%;
      top: 20%;
      left: 0;
    }
  }
}

/*
|   =========================================================
|   Menu
|   =========================================================
*/

.menu {
  list-style: none;
  padding: 0;
  margin: $spacer 0;

  li {
    width: 100%;

    a {
      display: block;
      width: 100%;
      text-decoration: none;
      padding: ($spacer * 0.3) ($spacer * 0.6);
      font-size: 1rem;

      &:hover {
        background-color: lighten($sidebar-background, 5%);
      }
    }

    &.divider {
      margin: 1rem 0;
      border-bottom: 1px solid lighten($sidebar-background, 10%);
    }
  }

  .has-submenu {
    background-color: lighten($sidebar-background, 5%);

    .menu-icon {
      padding: ($spacer * 0.2) ($spacer * 0.5);

      &:before {
        content: "\f107";
      }
    }

    &.collapsed {
      background-color: $sidebar-background;

      &:hover {
        background-color: lighten($sidebar-background, 5%);
      }

      .menu-icon:before {
        content: "\f104";
      }
    }
  }

  .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: lighten($sidebar-background, 5%);

    li {
      padding: 0;

      a {
        font-size: 0.85rem;

        &:hover {
          background-color: lighten($sidebar-background, 10%);
        }
      }

      &.divider {
        margin: ($spacer * 0.3) 0;
      }
    }
  }
}

/*
|   =========================================================
|   Forms
|   =========================================================
*/

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/*
|   =========================================================
|   Additional icon and text styles
|   =========================================================
*/

.fa-fw {
  width: 1rem;
  text-align: center;
}

.fa-margin-right {
  margin-right: 0.5rem;
}

.fa-margin-left {
  margin-left: 0.5rem;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

/*
|   =========================================================
|   Various other styles
|   =========================================================
*/

.cursor-pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: $gray-lightest;
  border-left: 1px solid $gray-lighter;
}

::-webkit-scrollbar-thumb {
  background-color: darken($gray-lighter, 10%);
}
